<a href="https://colab.research.google.com/github/shainaboover/DS-Unit-2-Linear-Models/blob/master/SHAINA_BOOVER_unit2_sprint1_sg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit2 Sprint1: Linear Models!

In this study guide, you will solve problems relating to the use and mechanics of linear models as you've learned them over the course of this sprint. This is including, but not limited to:
* The Scikit-Learn workflow
* Defining a baseline
* Evaluating your model
* Determining model effectiveness

Please work through this guide at your own pace, but feel free to cooperate with others if you wish. This is open book / open internet. There is also no strict "right" or "wrong" answers, only answer that will work, versus answers that will not. This will be an ongoing theme in the real world!

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip
!unzip Bike-Sharing-Dataset.zip

--2020-07-17 02:35:26--  https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279992 (273K) [application/x-httpd-php]
Saving to: ‘Bike-Sharing-Dataset.zip.2’

Bike-Sharing-Datase 100%[===================>] 273.43K   527KB/s    in 0.5s

2020-07-17 02:35:28 (527 KB/s) - ‘Bike-Sharing-Dataset.zip.2’ saved [279992/279992]

Archive:  Bike-Sharing-Dataset.zip
replace Readme.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
# At this point, everyone should already know how to do basic imports
# Here, I'll load a basic dataset for you to practice on.
import pandas as pd

data = pd.read_csv('day.csv')
data.head()

   instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
0        1  2011-01-01       1   0  ...   0.160446     331         654   985
1        2  2011-01-02       1   0  ...   0.248539     131         670   801
2        3  2011-01-03       1   0  ...   0.248309     120        1229  1349
3        4  2011-01-04       1   0  ...   0.160296     108        1454  1562
4        5  2011-01-05       1   0  ...   0.186900      82        1518  1600

[5 rows x 16 columns]

Answer the following using your own code:

In [ ]:
# How many observations in this data?
data.shape[0]

731

In [ ]:
# How many columns or features?
data.shape[1]

16

In [ ]:
# Are there any Null values; If yes, how are they represented?
data.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [ ]:
# check for nan values that might be encoded as something else
data['dteday'].unique()

array(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
       '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
       '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
       '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
       '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20',
       '2011-01-21', '2011-01-22', '2011-01-23', '2011-01-24',
       '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
       '2011-01-29', '2011-01-30', '2011-01-31', '2011-02-01',
       '2011-02-02', '2011-02-03', '2011-02-04', '2011-02-05',
       '2011-02-06', '2011-02-07', '2011-02-08', '2011-02-09',
       '2011-02-10', '2011-02-11', '2011-02-12', '2011-02-13',
       '2011-02-14', '2011-02-15', '2011-02-16', '2011-02-17',
       '2011-02-18', '2011-02-19', '2011-02-20', '2011-02-21',
       '2011-02-22', '2011-02-23', '2011-02-24', '2011-02-25',
       '2011-02-26', '2011-02-27', '2011-02-28', '2011-03-01',
       '2011-03-02', '2011-03-03', '2011-03-04', '2011-03-05',
       '2011-03-06', '2011-03-07', '2011-03-08', '2011-03-09',
       '2011-03-10', '2011-03-11', '2011-03-12', '2011-03-13',
       '2011-03-14', '2011-03-15', '2011-03-16', '2011-03-17',
       '2011-03-18', '2011-03-19', '2011-03-20', '2011-03-21',
       '2011-03-22', '2011-03-23', '2011-03-24', '2011-03-25',
       '2011-03-26', '2011-03-27', '2011-03-28', '2011-03-29',
       '2011-03-30', '2011-03-31', '2011-04-01', '2011-04-02',
       '2011-04-03', '2011-04-04', '2011-04-05', '2011-04-06',
       '2011-04-07', '2011-04-08', '2011-04-09', '2011-04-10',
       '2011-04-11', '2011-04-12', '2011-04-13', '2011-04-14',
       '2011-04-15', '2011-04-16', '2011-04-17', '2011-04-18',
       '2011-04-19', '2011-04-20', '2011-04-21', '2011-04-22',
       '2011-04-23', '2011-04-24', '2011-04-25', '2011-04-26',
       '2011-04-27', '2011-04-28', '2011-04-29', '2011-04-30',
       '2011-05-01', '2011-05-02', '2011-05-03', '2011-05-04',
       '2011-05-05', '2011-05-06', '2011-05-07', '2011-05-08',
       '2011-05-09', '2011-05-10', '2011-05-11', '2011-05-12',
       '2011-05-13', '2011-05-14', '2011-05-15', '2011-05-16',
       '2011-05-17', '2011-05-18', '2011-05-19', '2011-05-20',
       '2011-05-21', '2011-05-22', '2011-05-23', '2011-05-24',
       '2011-05-25', '2011-05-26', '2011-05-27', '2011-05-28',
       '2011-05-29', '2011-05-30', '2011-05-31', '2011-06-01',
       '2011-06-02', '2011-06-03', '2011-06-04', '2011-06-05',
       '2011-06-06', '2011-06-07', '2011-06-08', '2011-06-09',
       '2011-06-10', '2011-06-11', '2011-06-12', '2011-06-13',
       '2011-06-14', '2011-06-15', '2011-06-16', '2011-06-17',
       '2011-06-18', '2011-06-19', '2011-06-20', '2011-06-21',
       '2011-06-22', '2011-06-23', '2011-06-24', '2011-06-25',
       '2011-06-26', '2011-06-27', '2011-06-28', '2011-06-29',
       '2011-06-30', '2011-07-01', '2011-07-02', '2011-07-03',
       '2011-07-04', '2011-07-05', '2011-07-06', '2011-07-07',
       '2011-07-08', '2011-07-09', '2011-07-10', '2011-07-11',
       '2011-07-12', '2011-07-13', '2011-07-14', '2011-07-15',
       '2011-07-16', '2011-07-17', '2011-07-18', '2011-07-19',
       '2011-07-20', '2011-07-21', '2011-07-22', '2011-07-23',
       '2011-07-24', '2011-07-25', '2011-07-26', '2011-07-27',
       '2011-07-28', '2011-07-29', '2011-07-30', '2011-07-31',
       '2011-08-01', '2011-08-02', '2011-08-03', '2011-08-04',
       '2011-08-05', '2011-08-06', '2011-08-07', '2011-08-08',
       '2011-08-09', '2011-08-10', '2011-08-11', '2011-08-12',
       '2011-08-13', '2011-08-14', '2011-08-15', '2011-08-16',
       '2011-08-17', '2011-08-18', '2011-08-19', '2011-08-20',
       '2011-08-21', '2011-08-22', '2011-08-23', '2011-08-24',
       '2011-08-25', '2011-08-26', '2011-08-27', '2011-08-28',
       '2011-08-29', '2011-08-30', '2011-08-31', '2011-09-01',
       '2011-09-02', '2011-09-03', '2011-09-04', '2011-09-05',
       '2011-09-06', '2011-09-07', '2011-09-08', '2011-09-09',
       '2011-09-10', '2011-09-11', '2011-09-12', '2011-09-13',
       '2011-09-14', '2011-09-15', '2011-09-16', '2011-09-17',
       '2011-09-18', '2011-09-19', '2011-09-20', '2011-09-21',
       '2011-09-22', '2011-09-23', '2011-09-24', '2011-09-25',
       '2011-09-26', '2011-09-27', '2011-09-28', '2011-09-29',
       '2011-09-30', '2011-10-01', '2011-10-02', '2011-10-03',
       '2011-10-04', '2011-10-05', '2011-10-06', '2011-10-07',
       '2011-10-08', '2011-10-09', '2011-10-10', '2011-10-11',
       '2011-10-12', '2011-10-13', '2011-10-14', '2011-10-15',
       '2011-10-16', '2011-10-17', '2011-10-18', '2011-10-19',
       '2011-10-20', '2011-10-21', '2011-10-22', '2011-10-23',
       '2011-10-24', '2011-10-25', '2011-10-26', '2011-10-27',
       '2011-10-28', '2011-10-29', '2011-10-30', '2011-10-31',
       '2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04',
       '2011-11-05', '2011-11-06', '2011-11-07', '2011-11-08',
       '2011-11-09', '2011-11-10', '2011-11-11', '2011-11-12',
       '2011-11-13', '2011-11-14', '2011-11-15', '2011-11-16',
       '2011-11-17', '2011-11-18', '2011-11-19', '2011-11-20',
       '2011-11-21', '2011-11-22', '2011-11-23', '2011-11-24',
       '2011-11-25', '2011-11-26', '2011-11-27', '2011-11-28',
       '2011-11-29', '2011-11-30', '2011-12-01', '2011-12-02',
       '2011-12-03', '2011-12-04', '2011-12-05', '2011-12-06',
       '2011-12-07', '2011-12-08', '2011-12-09', '2011-12-10',
       '2011-12-11', '2011-12-12', '2011-12-13', '2011-12-14',
       '2011-12-15', '2011-12-16', '2011-12-17', '2011-12-18',
       '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
       '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
       '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
       '2011-12-31', '2012-01-01', '2012-01-02', '2012-01-03',
       '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07',
       '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11',
       '2012-01-12', '2012-01-13', '2012-01-14', '2012-01-15',
       '2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
       '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
       '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
       '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
       '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
       '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
       '2012-02-09', '2012-02-10', '2012-02-11', '2012-02-12',
       '2012-02-13', '2012-02-14', '2012-02-15', '2012-02-16',
       '2012-02-17', '2012-02-18', '2012-02-19', '2012-02-20',
       '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
       '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
       '2012-02-29', '2012-03-01', '2012-03-02', '2012-03-03',
       '2012-03-04', '2012-03-05', '2012-03-06', '2012-03-07',
       '2012-03-08', '2012-03-09', '2012-03-10', '2012-03-11',
       '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       '2012-03-16', '2012-03-17', '2012-03-18', '2012-03-19',
       '2012-03-20', '2012-03-21', '2012-03-22', '2012-03-23',
       '2012-03-24', '2012-03-25', '2012-03-26', '2012-03-27',
       '2012-03-28', '2012-03-29', '2012-03-30', '2012-03-31',
       '2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
       '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
       '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
       '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
       '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
       '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
       '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
       '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
       '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
       '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
       '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
       '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
       '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
       '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
       '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
       '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09',
       '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13',
       '2012-07-14', '2012-07-15', '2012-07-16', '2012-07-17',
       '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-23', '2012-07-24', '2012-07-25',
       '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-29',
       '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02',
       '2012-08-03', '2012-08-04', '2012-08-05', '2012-08-06',
       '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10',
       '2012-08-11', '2012-08-12', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-18',
       '2012-08-19', '2012-08-20', '2012-08-21', '2012-08-22',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-27', '2012-08-28', '2012-08-29', '2012-08-30',
       '2012-08-31', '2012-09-01', '2012-09-02', '2012-09-03',
       '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07',
       '2012-09-08', '2012-09-09', '2012-09-10', '2012-09-11',
       '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
       '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
       '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
       '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
       '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
       '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
       '2012-10-06', '2012-10-07', '2012-10-08', '2012-10-09',
       '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-13',
       '2012-10-14', '2012-10-15', '2012-10-16', '2012-10-17',
       '2012-10-18', '2012-10-19', '2012-10-20', '2012-10-21',
       '2012-10-22', '2012-10-23', '2012-10-24', '2012-10-25',
       '2012-10-26', '2012-10-27', '2012-10-28', '2012-10-29',
       '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
       '2012-11-03', '2012-11-04', '2012-11-05', '2012-11-06',
       '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-10',
       '2012-11-11', '2012-11-12', '2012-11-13', '2012-11-14',
       '2012-11-15', '2012-11-16', '2012-11-17', '2012-11-18',
       '2012-11-19', '2012-11-20', '2012-11-21', '2012-11-22',
       '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26',
       '2012-11-27', '2012-11-28', '2012-11-29', '2012-11-30',
       '2012-12-01', '2012-12-02', '2012-12-03', '2012-12-04',
       '2012-12-05', '2012-12-06', '2012-12-07', '2012-12-08',
       '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
       '2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
       '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
       '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31'], dtype=object)

In [ ]:
# Demonstrate a train / test split
# Any method is fine

from sklearn.model_selection import train_test_split


train, test = train_test_split(data, random_state=42)

train.shape, test.shape

((548, 16), (183, 16))

In [ ]:
features = data.columns[:-1].to_list()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data[features], data['cnt'], random_state=42)

In [ ]:
X_train.shape, y_train.shape

((548, 15), (548,))

In [ ]:
X_train =  X_train.drop(columns=['dteday', 'casual', 'registered'])
X_test =  X_test.drop(columns=['dteday', 'casual', 'registered'])
y_train =  y_train.drop(columns=['dteday', 'casual', 'registered'])
y_test =  y_test.drop(columns=['dteday', 'casual', 'registered'])

In [ ]:
# What should be your starting baseline?
# returns a list of the mean
y_pred_1 = [y_train.mean()] * len(y_train)

In [ ]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_pred_1, y_train))

3692225.2135003195

In [ ]:
# Do any of the features need to be encoded? Why, or why not?
# encoding is not necessary

In [ ]:
# Step 1
# Create a linear regression model using Scikit-learn LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
# Step 2
model.fit(X_train, y_train)
# Step 3
y_pred = model.predict(X_train)
# Step 4
score_one = mean_squared_error(y_pred, y_train)
# Step 5
print(score_one)

777454.9521579044

In [ ]:
model2 = LinearRegression()
model.fit(X_train, y_train)
y_pred_2 = model.predict(X_train)
score_two = mean_squared_error(y_pred, y_train)
score_two**.5

881.7340597696702

In [ ]:
# Use a suitable metric to evaluate your model
# Mean Squared Error
# Mean Absolute Error
# Root Mean Squared Error
# R Squared
# R

In [ ]:
# Some extra stuff you can do:

# Create a visualization showing your model performance

# Iterate - Try to get a better model!

# Evaluate your model on more / different metrics
# Describe what they mean